
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*#region CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*#endregion RegionName*/



:root{
    --dark-bg-color: 	#161411;
    --dark-text-color: #d8c29c;
    --dark-text-hover-color: #ffffff;
    --dark-accent-color: #7e5f56;
    --dark-muted-color: #3a2e27;
    --dark-link-color: #c57b57;
    --dark-border-color: #2e2a26;

    --light-bg-color: #c7c0af;
    --light-text-color:#221f1b;
    --light-text-hover-color: #7c1f1f;
    --light-accent-color: #cbb69f;
    --light-muted-color: #645f59;
    --light-link-color: #5e3023;
    --light-border-color: #a09685;
    
}

html {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
    min-height: 90vh;
  }

body{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
   
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);

     /* <-- Important: forces body to at least fill full height */

    font-family: 'Cardo', serif;
    font-optical-sizing: auto;
    font-weight: 400; /* or 500/600 if you want a bolder base look */
    font-style: normal;
    
    
    line-height: 1.6;

    transition: background-color 0.5s;
    transition: color 0.5s;

    background: 
    linear-gradient(45deg, rgba(90, 82, 82, 0.03) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(117, 117, 112, 0.03) 25%, transparent 25%),
    var(--dark-bg-color);
    background-size: 40px 40px;
}

html.light-theme body{
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    background: 
    linear-gradient(45deg, rgba(31, 28, 28, 0.03) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(49, 49, 48, 0.03) 25%, transparent 25%),
    var(--light-bg-color);
    background-size: 40px 40px;
}

.title{
    color: wheat;
    font-size: x-large;
    padding: 2rem;
}

html.light-theme .title {
    color: var(--light-text-color);
}

.random-quote:hover{
    cursor: pointer;
    background-color: rgba(rgba(0, 0, 255, 0));
}



.sub-title{
    color: var(--dark-text-color);
    font-size: large;
    padding: 1.5rem 1rem 0.5rem 1rem;
}
html.light-theme .sub-title{
    color: var(--light-text-color);
}

a{
    text-decoration: none;
}

.horizontal-list{
    
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem 1rem 1rem;
    width: 30rem;
    
}

.horizontal-list a:hover{
    background-color: var(--light-bg-color);
}
html.light-theme .horizontal-list a:hover{
    background-color: var(--dark-bg-color);
}

.page-link{
    color: var(--dark-text-color);
    border: 1px solid var(--dark-border-color);
    border-radius: 5px;

    font-size: large;
    margin: 1rem;
    padding: 0.5rem;
    width: 6rem;
    text-align: center;  
}
html.light-theme .page-link{
    color: var(--light-text-color);
    border: 1px solid var(--light-border-color);
}

.page-link:hover{
    cursor: pointer;
    color: var(--dark-text-color);
}
html.light-theme .page-link:hover{
    color: var(--light-text-color);
}




footer{
    
    color: var(--dark-text-color);
    font-size: medium;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
html.light-theme footer{
    color: var(--light-text-color);
}
.copyright-text{
    color: var(--dark-text-color);
}
html.light-theme .copyright-text{
    color: var(--light-text-color);
}

.main-container{
  
    display: flex;
    flex-direction: row;
}

.left-list{
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--dark-border-color);
}
html.light-theme .left-list{
    border-bottom: 1px solid var(--light-border-color);
}

.left-list h4{
    color: var(--dark-text-color);
    text-align: right;
    padding: 0.5rem;
    font-style: oblique;
}
html.light-theme .left-list h4{
    color: var(--light-text-color);
}


li{
    color: var(--dark-text-color);
    margin: 0.5rem;
}
html.light-theme li{
    color: var(--light-text-color);
}



.about-section, 
.archives-section, 
.support-section{
    border: 1px solid var(--dark-border-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
}

html.light-theme  .about-section, 
html.light-theme  .archives-section, 
html.light-theme  .support-section{
    border: 1px solid var(--light-border-color);
}

.archive-title{
    font-size: large;
}

.archive-credit{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding:  1rem 3rem;
    line-height: 1.5rem;
}

.archive-category{
    font-style: oblique;
}


.left-area{
    color: var(--dark-text-color);
    border-right: 1px solid var(--dark-border-color);
    padding: 1rem;
    flex: 1;
}

.about-profile-pic{
    max-width: 100%;
    border: 1px solid var(--dark-accent-color);
}

.about-profile-title{
    text-align: center;
    padding: 1rem;
}

html.light-theme  .left-area{
    color: var(--light-text-color);
    border-right: 1px solid var(--light-border-color);

}

.right-area{
    color: var(--dark-text-color);
    flex: 4;
    padding: 1rem;
    text-align: center;
 
}

html.light-theme .right-area{
    color: var(--light-text-color);
}

.right-area h5{
    text-align: end;
    padding: 2rem;
}

.text-area{
    padding: 2rem 2rem 2rem 2rem;
}

.text-area p{
    text-align: start;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.25s ease-in-out;


}

.index-banner{
    border: 1px solid var(--dark-border-color);
    color: var(--dark-text-color);
    padding: 1rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html.light-theme .index-banner{
    border: 1px solid var(--light-border-color);
    color: var(--light-text-color);
}



.index-banner h3,
.index-banner h4,
.index-banner p
{
    margin: 0.5rem;
}

.left-list-title-top{
    text-align: left;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--dark-border-color);
}
.left-list li:hover{
    cursor: pointer;
    color: var(--dark-text-hover-color);
}

html.light-theme .left-list li:hover{
    color: var(--light-text-hover-color);
}

.text-area p:hover{
    color: var(--light-text-color);
    background-color: var(--dark-text-color);


 
}
html.light-theme .text-area p:hover{
    color: var(--light-text-color);
    background-color: var(--light-accent-color);
}


.disabled-link{
    pointer-events: none;
    color: var(--dark-muted-color);
    cursor: default;
    text-decoration: underline;
}
html.light-theme .disabled-link{
    color: var(--light-muted-color);
}



.toggle-color-theme{
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
    border: 1px solid var(--dark-border-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    
    font-size: large;
    margin: 1rem;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    
}

html.light-theme .toggle-color-theme{
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    border: 1px solid var(--light-border-color);
    
}

.toggle-color-theme:hover{
    cursor: pointer;
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    border: 1px solid var(--light-border-color);
    
    
}

html.light-theme .toggle-color-theme:hover  {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
    border: 1px solid var(--dark-border-color);
    
}

.hidden{
    display: none;
}

.list-title:hover{
    cursor: pointer;
    color: var(--dark-text-hover-color);
}
html.light-theme .list-title:hover{
    color: var(--light-text-hover-color);
}


.support-text-block{
    border-bottom: 1px solid var(--dark-border-color);
    margin-bottom: 2rem;
}

.html.light-theme .support-text-block{
    border-bottom: 1px solid var(--light-border-color);
}

.support-text-block h4{
    padding-bottom: 2rem;
}

.timeline-container{
    border: 1px solid var(--dark-border-color);
 
   
}

.timeline-container h3{
    text-align: center;
    padding: 1rem 1rem 0.5rem 1rem;
}
.timeline-container h4{
    text-align: center;
    padding: 0rem 0rem 1rem 0rem;
    font-size: small;
    font-style: oblique;
}
.event-card{
    border: 1px solid var(--dark-border-color);
    padding: 1rem;
    margin: 1rem;
    
}
.html.light-theme .event-card{
    border: 1px solid var(--light-border-color);
}

.event-top-section{
    display: flex;
    flex-direction: row;
}

.event-top-section h3
{
    padding: 0 0.5rem 0.5rem 0;
    line-height: normal;
}

.event-card.left{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 5rem;

}
.event-card.right{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 5rem;

}


.dungeon-map{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 5px solid var(--light-muted-color);
}

.mud-section{
    display: flex;
    flex-direction: row;
}

.map-cell{
    border: 1px solid var(--dark-border-color);
    padding: 0.75rem;
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.25s ease-out;
}

.map-cell:hover{
    background-color: var(--dark-text-color);
    color: var(--dark-bg-color);
    cursor: pointer;

}

.map-cell-door{
  
    color: var(--light-muted-color);
    z-index: 1;
}

.map-cell-current{
    background-color: var(--dark-text-color);
    color: var(--dark-bg-color);
    z-index: 20;
}

.map-cell-empty{
    color: var(--dark-muted-color);
}

.movement-compass{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-height: 5rem;
}

.move-up{
    grid-column: 2;
    grid-row: 1;
}

.move-down{
    grid-column: 2;
    grid-row: 3;
}

.move-left{
    grid-column: 1;
    grid-row: 2;
}

.move-right{
    grid-column: 3;
    grid-row:2;
}

.attack-button{
    grid-column: 2;
    grid-row: 2;
    background-color: #7c1f1f;
    color: var(--light-bg-color);
}

.reload-button{
    border: 1px solid var(--dark-border-color);
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #7c1f1f;
    color: var(--light-bg-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.reload-button:hover{
    cursor: pointer;
}

.movement-compass h3{
    border: 1px solid var(--dark-border-color);
    padding: 0.5rem;
    margin: 0.5rem;
    transition: background-color 0.25s ease-out;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.movement-compass h3:hover{
    cursor: pointer;
    background-color: var(--dark-text-color);
    color: var(--dark-bg-color);
}